.cdcSpeedWallboard {
    position: relative;
    line-height: 32px;
}

.pepfarLogo1Icon {
    width: 43.1px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.pngwing2Icon {
    width: 32.1px;
    position: relative;
    height: 32px;
    object-fit: cover;
}

.pngwing1Icon {
    width: 48px;
    position: relative;
    height: 32px;
    object-fit: cover;
}

.icon {
    width: 99.6px;
    position: relative;
    height: 32px;
    object-fit: cover;
}

.pepfarLogo1Parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.lastUpdate28 {
    position: relative;
    font-size: 12px;
    line-height: 24px;
}

.cdcSpeedWallboardParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.icons {
    width: 16px;
    position: relative;
    height: 16px;
}

.iconsWrapper {
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}

.frameParent {
    border-radius: 100px;
    background-color: #ebebe4;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.frameDiv {
    border-radius: 100px;
    background-color: #ebebe4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    cursor: pointer;
}

.frameGroup {
    border-radius: 100px;
    background-color: #ebebe4;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.jd {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 10px);
    line-height: 32px;
}

.jdWrapper {
    width: 32px;
    position: relative;
    border-radius: 100px;
    background-color: #fff;
    height: 32px;
}

.iconsWrapper1 {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    border-radius: 100px;
    background-color: #ebebe4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    cursor: pointer;
}

.frameContainer {
    border-radius: 100px;
    background-color: #ebebe4;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: #000;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
}

.topBarLight {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
    box-sizing: border-box;
    text-align: left;
    font-size: 24px;
}

.icons5 {
    width: 24px;
    position: relative;
    height: 24px;
}

.iconsWrapper2 {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    background-color: #fff;
    border: 0.5px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 16px;
    cursor: pointer;
}

.frameParent1 {
    position: absolute;
    top: 984px;
    left: 1002px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.treatmentSaturationBy {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 24px;
}

.mapOfOsunStateShowingTheIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    width: 888px;
    height: 816px;
    object-fit: cover;
}

.ayedire {
    margin: 0;
}

.p {
    margin: 0;
    font-size: 25px;
}

.ayedire1000 {
    position: relative;
    letter-spacing: 0.01em;
    font-weight: 600;
}

.ayedire1000Wrapper {
    position: absolute;
    top: 610.99px;
    left: 90.73px;
    background-color: #c40306;
    width: 110.3px;
    height: 100.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}

.numberBoxChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e8b51e;
    width: 103px;
    height: 99.8px;
}

.ifeSouth20Container {
    position: absolute;
    top: 8.87px;
    left: 0px;
    letter-spacing: 0.01em;
    font-weight: 600;
    display: inline-block;
    width: 124.4px;
    height: 76.5px;
}

.numberBox {
    position: absolute;
    top: 605.64px;
    left: 401px;
    width: 124.4px;
    height: 99.8px;
}

.numberBoxItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0d8651;
    width: 103px;
    height: 70.9px;
}

.iboku2 {
    position: absolute;
    top: 6.31px;
    left: 0px;
    letter-spacing: 0.01em;
    font-weight: 600;
    display: inline-block;
    width: 124.4px;
    height: 54.4px;
}

.numberBox1 {
    position: absolute;
    top: 183.94px;
    left: 559px;
    width: 124.4px;
    height: 70.9px;
}

.map {
    position: absolute;
    top: 40px;
    left: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    width: 888px;
    height: 816px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Poppins;
}

.key {
    position: relative;
    line-height: 24px;
}

.frameChild {
    width: 16px;
    position: relative;
    background-color: #c40306;
    height: 16px;
}

.rectangleParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.frameItem {
    width: 16px;
    position: relative;
    background-color: #e8b51e;
    height: 16px;
}

.frameInner {
    width: 16px;
    position: relative;
    background-color: #0d8651;
    height: 16px;
}

.frameParent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
}

.keyParent {
    position: absolute;
    top: 724px;
    left: 754px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-size: 14px;
    color: #000;
}

.treatmentSaturationByLgaParent {
    position: absolute;
    top: 120px;
    left: 504px;
    width: 888px;
    height: 856px;
    text-align: left;
    font-size: 16px;
}

.iconsParent {
    position: absolute;
    top: 80px;
    left: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0px;
    gap: 8px;
    font-size: 16px;
    color: #000;
}

.b {
    align-self: stretch;
    position: relative;
}

.totalFacilitiesOfferingContainer {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #fcfcfc;
}

.parent {
    position: absolute;
    top: calc(50% - 101.5px);
    left: calc(50% - 128px);
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.summaryBoardInner {
    position: absolute;
    left: 48px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    background-color: #e5aa46;
    width: 432px;
    height: 269px;
    overflow: hidden;
    color: #fdf8f0;
}

.b1 {
    position: relative;
}

.totalPatientReceivingContainer {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #fcfcfc;
}

.group {
    position: absolute;
    top: calc(50% - 101px);
    left: calc(50% - 149px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.summaryBoardChild {
    position: absolute;
    top: 413px;
    left: 48px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    background-color: #246d38;
    width: 432px;
    height: 270px;
    overflow: hidden;
    color: #fdf8f0;
}

.treatmentSaturation {
    position: relative;
    font-size: 16px;
    line-height: 24px;
}

.summaryBoardInner1 {
    position: absolute;
    top: 707px;
    left: 48px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    background-color: #dcf7ed;
    width: 432px;
    height: 269px;
    overflow: hidden;
    color: #19c98a;
}

.summaryBoard {
    width: 100%;
    background-color: #ebe8e8;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 96px;
    color: #1e1e1e;
    font-family: Satoshi;
}

.container {
    margin-top: 50px;
}

.box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 768px) {

    .card,
    .box {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.card-title {
    font-size: 96px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}